@import "checkouts/header.css";
@import "checkouts/list.css";

/* Checkouts Base */
.app__checkouts {
  --checkbox-size: 1.25rem;
  --row-padding: 1.5rem;
  width: 100%;
}

.checkouts__content {
  margin: 10em auto;
  width: 100%;
  max-width: var(--container-lg);
  animation: checkoutsFadeIn 0.5s ease-out forwards;
}