@import "./auths/login.css";
@import "./auths/signup.css";
@import "./auths/loading.css";
@import "./auths/closebutton.css";
@import "./auths/formfield.css";

/* Block: Auth Modal */
.auth-modal {
  position: fixed;
  inset: 0;
  background: rgba(10, 10, 46, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.auth-modal--active {
  opacity: 1;
  visibility: visible;
}


.no-scroll {
  overflow: hidden;
}

/* Animations */
@keyframes ballRotate {
  0%,
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  33% {
    transform: scale(1.2) translateY(-20px);
    opacity: 0.8;
  }
  66% {
    transform: scale(0.8) translateY(20px);
    opacity: 0.6;
  }
}


/* Laptop (1024px - 1399px) */
@media screen and (max-width: 1399px) {
}

/* Tablet (768px - 1023px) */
@media screen and (max-width: 1023px) {

}
/* Mobile (below 768px) */
@media screen and (max-width: 767px) {
  /* Element: Signup Container */
  .auth-modal__signup {
    font-size: .9em;
    padding: 2rem;
    width: 90%;
  }
  
}

/* Max-width container adjustment */
@media screen and (min-width: 1400px) {

}

