/* Mobile (below 768px) */
@media screen and (max-width: 767px) {
  .about-intro__title {
    font-size: 2.5em;
  }

  .about-intro__description {
    font-size: 1em;
  }

  .about-intro__container {
    grid-template-columns: 1fr;
    padding: 1em;
    padding-top: 5em;
    text-align: center;
  }

  .about-intro__fruits,
  .about-intro__visual {
    display: none;
  }

  /* mission */
  .about-mission__container {
    padding: 1em;
    padding-top: 5em;
    font-size: 10px;
  }

  .about-mission__statement,
  .about-mission__description {
    font-size: 1.5em;
  }

  .about-mission__values {
    gap: 1em;
    flex-direction: column;
  }

  .about-mission__value {
    margin: auto;
    padding: 2em 1em;
  }

  .about-choosing__title {
    font-size: 3em;
  }

  .about-choosing__grid {
    font-size: 1em;
    gap: 2em;
    grid-template-columns: 1fr;
  }
}
