@import "responsive/phone.css";

/* Laptop (1024px - 1399px) */
@media screen and (max-width: 1399px) {
}

/* Tablet (768px - 1023px) */
@media screen and (max-width: 1023px) {
  .products__filter-bar {
    gap: 1em;
  }

  .products__featured-title {
    font-size: 1.5em;
  }

  .products__stat-number {
    font-size: 1em;
  }
}
